<!DOCTYPE html>
<html>
<head>
    <title>Analytics Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1 class="analytics-title">
    📈 Analytics Dashboard
</h1>

    <div class="analytics-grid">

        <div class="analytics-card">
            <h3>👨‍🎓 Students</h3>
            <p>{{ students }}</p>
        </div>

        <div class="analytics-card">
            <h3>📋 Tasks</h3>
            <p>{{ tasks }}</p>
        </div>

        <div class="analytics-card">
            <h3>📍 Attendance</h3>
            <p>{{ attendance }}</p>
        </div>

        <div class="analytics-card">
            <h3>⭐ Avg Rating</h3>
            <p>{{ rating }}</p>
        </div>

        <div class="analytics-card top-card">
    <h3>🏆 Top Performer</h3>
    <p>{{ top_student }}</p>
    <small>Best Performing Intern</small>
</div>

    </div>

</div>

</body>
</html>