<!DOCTYPE html>
<html>
<head>

<title>Attendance</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📍 Attendance Management</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Update today's attendance.
</p>

<form action="/save_attendance" method="POST">

<input
type="text"
name="student_name"
placeholder="👤 Student Name"
required>

<select name="attendance">

<option value="1">
✅ Present
</option>

<option value="0">
❌ Absent
</option>

</select>

<button type="submit">

📍 Update Attendance

</button>

</form>

</div>

</body>
</html>