<!DOCTYPE html>
<html>
<head>
    <title>Generate Certificate</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🏅 Generate Certificate</h1>

<form action="/generate_certificate" method="POST">

<select name="student_name" required>

{% for student in students %}

<option value="{{ student[1] }}">
    {{ student[1] }}
</option>

{% endfor %}

</select>

<button type="submit">
Generate Certificate
</button>

</form>

</div>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Generate Certificate</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🏅 Generate Certificate</h1>

<form action="/generate_certificate" method="POST">

<label>Select Student</label>

<select name="student_name" required>

{% for student in students %}

<option value="{{ student[1] }}">
    {{ student[1] }}
</option>

{% endfor %}

</select>

<br><br>

<button type="submit">
Generate Certificate
</button>

</form>

</div>

</body>
</html>