<!DOCTYPE html>
<html>
<head>
    <title>Certificate Status</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🏅 Certificate Eligibility</h1>

<table>

<tr>
    <th>Name</th>
    <th>Attendance</th>
    <th>Rating</th>
    <th>Status</th>
</tr>

{% for s in students %}

<tr>
    <td>{{ s[1] }}</td>
    <td>{{ s[4] }}</td>
    <td>{{ s[5] }}</td>

    <td>
        {% if s[4] >= 75 %}
            Eligible
        {% else %}
            Not Eligible
        {% endif %}
    </td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>