<!DOCTYPE html>
<html>
<head>
    <title>Smart Internship Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Smart Internship Tracking & Performance Management System</h1>

<br>

<a href="/register">
<button>Register Student</button>
</a>

<br><br>

<a href="/task">
<button>Submit Daily Task</button>
</a>

<br><br>

<a href="/tasks">
<button>View Tasks</button>
</a>

<br><br>

<a href="/attendance">
<button>Update Attendance</button>
</a>

<br><br>

<a href="/ranking">
<button>Student Ranking</button>
</a>

<br><br>

<a href="/report">
<button>Generate Report</button>
</a>

<br><br>

<a href="/certificate">
<button>Certificate Eligibility Checker</button>
</a>

</div>

</body>
</html>