<!DOCTYPE html>
<html>

<head>

<title>Location Attendance</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📍 Location Based Attendance</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Capture your current GPS location to mark today's attendance.
</p>

<form action="/mark_location_attendance" method="POST">

<input
type="text"
name="student_name"
placeholder="👨‍🎓 Student Name"
required>

<input
type="hidden"
id="latitude"
name="latitude">

<input
type="hidden"
id="longitude"
name="longitude">

<button
type="button"
onclick="getLocation()">

📍 Get Current Location

</button>

<br><br>

<button type="submit">

✅ Mark Attendance

</button>

</form>

<br>

<a href="/student_dashboard">

<button>

⬅ Back to Dashboard

</button>

</a>

</div>

<script>

function getLocation(){

if(navigator.geolocation){

navigator.geolocation.getCurrentPosition(function(position){

document.getElementById("latitude").value=position.coords.latitude;

document.getElementById("longitude").value=position.coords.longitude;

alert("📍 Location Captured Successfully");

});

}else{

alert("Location not supported.");

}

}

</script>

</body>

</html>