<!DOCTYPE html>
<html>
<head>

<title>Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🎓 Smart Internship Tracking</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<h2 style="text-align:center;color:white;">
Performance Management System
</h2>

<br>

<form action="/login" method="POST">

<input
type="text"
name="username"
placeholder="👤 Username"
required>

<input
type="password"
name="password"
placeholder="🔒 Password"
required>

<button type="submit">
🚀 Login
</button>

</form>

<br>

<p style="text-align:center;color:white;">
Developed By <b>Rehan Urunkar</b>
</p>

</div>

</body>
</html>