<!DOCTYPE html>
<html>

<head>

<title>Progress Tracker</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📈 Internship Progress</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Track internship performance.
</p>

<table>

<tr>

<th>Name</th>

<th>Attendance</th>

<th>Rating</th>

<th>Overall Progress</th>

</tr>

{% for s in students %}

<tr>

<td>{{ s[0] }}</td>

<td>{{ s[1] }}%</td>

<td>⭐ {{ s[2] }}/5</td>

<td>

{{ ((s[1]+(s[2]*20))/2)|int }}%

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>