<!DOCTYPE html>
<html>
<head>

<title>Rating</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>⭐ Student Performance Rating</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Give rating based on student performance.
</p>

<form action="/save_rating" method="POST">

<input
type="text"
name="student_name"
placeholder="👤 Student Name"
required>

<select name="rating">

<option value="5">⭐⭐⭐⭐⭐ Excellent</option>

<option value="4">⭐⭐⭐⭐ Very Good</option>

<option value="3">⭐⭐⭐ Good</option>

<option value="2">⭐⭐ Average</option>

<option value="1">⭐ Poor</option>

</select>

<button type="submit">

⭐ Update Rating

</button>

</form>

</div>

</body>
</html>