<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Student Registration</h1>

<form action="/save_student" method="POST">

<input type="text"
name="name"
placeholder="Student Name"
required>

<input type="email"
name="email"
placeholder="Email"
required>

<input type="text"
name="department"
placeholder="Department"
required>

<button type="submit">
Register Student
</button>

</form>

</div>

</body>
</html>