<!DOCTYPE html>
<html>

<head>

    <title>Student Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<div class="logout-container">

<a href="/logout">
<button class="logout-btn">🚪 Logout</button>
</a>

</div>

<h1>🎓 Student Dashboard</h1>

<h2 style="text-align:center;color:white;">
Welcome Student 👋
</h2>

<br>

<div class="dashboard">

<div class="card">
<h2>📝</h2>
<h3>Submit Daily Task</h3>
<a href="/task">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📋</h2>
<h3>View My Tasks</h3>
<a href="/tasks">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📍</h2>
<h3>Attendance</h3>
<a href="/view_attendance">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>⭐</h2>
<h3>View Rating</h3>
<a href="/view_rating">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>🏅</h2>
<h3>Certificate Status</h3>
<a href="/certificate">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📈</h2>
<h3>Progress Tracker</h3>
<a href="/progress">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>💬</h2>
<h3>View Feedback</h3>
<a href="/view_feedback">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📜</h2>
<h3>Download Certificate</h3>
<a href="/certificate_form">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📊</h2>
<h3>Analytics Dashboard</h3>
<a href="/analytics">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📁</h2>
<h3>Upload Report</h3>
<a href="/upload">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📍</h2>
<h3>Location Attendance</h3>
<a href="/location_attendance">
<button>Open</button>
</a>
</div>

<div class="card">
<h2>📷</h2>
<h3>Selfie Attendance</h3>
<a href="/camera_attendance">
<button>Open</button>
</a>
</div>

</div>

</div>

</body>
</html>