<!DOCTYPE html>
<html>
<head>
    <title>All Students</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>👥 All Registered Students</h1>

<table border="1" width="100%">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Department</th>
<th>Attendance</th>
<th>Tasks</th>
<th>Rating</th>
</tr>

{% for s in students %}

<tr>

<td>{{ s[0] }}</td>
<td>{{ s[1] }}</td>
<td>{{ s[2] }}</td>
<td>{{ s[3] }}</td>
<td>{{ s[4] }}</td>
<td>{{ s[5] }}</td>
<td>{{ s[6] }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>