<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Student Dashboard</h1>

<a href="/task">
<button>Submit Daily Task</button>
</a>

<br><br>

<a href="/tasks">
<button>View My Tasks</button>
</a>

<br><br>

<a href="/view_attendance">
<button>View Attendance</button>
</a>

<br><br>

<a href="/view_rating">
<button>View Rating</button>
</a>

<br><br>

<a href="/certificate">
<button>Certificate Status</button>
</a>

</div>

</body>
</html>