<!DOCTYPE html>
<html>
<head>

<title>Student Rating</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>⭐ Performance Ratings</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
View student performance ratings.
</p>

<table>

<tr>

<th>Student</th>
<th>Rating</th>

</tr>

{% for s in students %}

<tr>

<td>{{ s[1] }}</td>

<td>

⭐ {{ s[6] }}/5

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>