<!DOCTYPE html>
<html>

<head>

<title>Selfie Attendance Records</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📷 Selfie Attendance Records</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Captured selfies submitted by students.
</p>

<div class="dashboard">

{% for s in data %}

<div class="card">

<img
src="{{ url_for('static', filename='selfies/' + s[1]) }}"
width="180"
height="180"
style="border-radius:15px;margin-bottom:15px;">

<h3>{{ s[0] }}</h3>

<p>{{ s[2] }}</p>

</div>

{% endfor %}

</div>

<br>

<a href="/mentor_dashboard">

<button>

⬅ Back to Dashboard

</button>

</a>

</div>

</body>

</html>