<!DOCTYPE html>
<html>
<head>

<title>Attendance</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>📍 Attendance Records</h1>
<hr style="margin:20px 0;border:1px solid rgba(255,255,255,0.2);">

<p style="text-align:center;color:white;margin-bottom:25px;">
Student attendance information.
</p>

<table>

<tr>

<th>Student</th>
<th>Attendance</th>

</tr>

{% for s in students %}

<tr>

<td>{{ s[1] }}</td>

<td>

{% if s[4]==1 %}

✅ Present

{% else %}

❌ Absent

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>