<!DOCTYPE html>
<html>
<head>
    <title>Location Attendance</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>📍 Location Attendance Records</h1>

<table>

<tr>
    <th>ID</th>
    <th>Student Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Map Location</th>
</tr>
{% for a in attendance %}

<tr>
    <td>{{ a[0] }}</td>
    <td>{{ a[1] }}</td>
    <td>{{ a[2] }}</td>
    <td>{{ a[3] }}</td>

    <td>
        <a href="https://www.google.com/maps?q={{ a[2] }},{{ a[3] }}" target="_blank">
            View Map
        </a>
    </td>
</tr>

{% endfor %}

</table>

<br>

<a href="/mentor_dashboard">
    <button>⬅ Back to Dashboard</button>
</a>

</div>

</body>
</html>